*{
    box-sizing:border-box;
}
body,p,pre,ul,li,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,input,span{
    padding:0;
    margin: 0;
    list-style:none;
    border:none;
}
a{
    text-decoration:none;
}
img{
    display:block;
    border:none;
}
body{
    list-style:none;
    font-size:0.24rem;
}
html{
    font-size:100px;
    font-family:"苹方";
}
.all{
    width:7.5rem;
    height:13.34rem;
    background:#525154;
}
.top{
    width:7.5rem;
    height:1.40rem;
    background:#29a6dc;
    position:relative;
}
.topwz{
    width:1.5rem;
    height:0.5rem;
    margin-left:2.8rem;
    margin-top:0.5rem;
    position:absolute;
}
.topwz1{
    width:1.9rem;
    height:0.36rem;
    color:#fff;
    font-size:0.36rem;
    margin:0 auto;
    text-align:center;
}
.topwz2{
    width:0.34rem;
    height:0.03rem;
    margin-top:0.1rem;
    margin-left:0.7rem;
    background:url(../images/app2/topwz2.png) no-repeat 0 0;
    background-size:100% 100%;
}
.topwz3{
    width:1.5rem;
    height:0.13rem;
    color:#fff;
    font-size:0.14rem;
    margin-left:0.2rem;
}
.return{
    width:0.44rem;
    height:0.44rem;
    background:#fff;
    border-radius:50%;
    border:2px solid #076cbe;
    margin-left:0.25rem;
    margin-top:0.68rem;
    position:absolute;
}
.return img{
    display:block;
    width:0.22rem;
    height:0.22rem;
    margin:0.07rem 0.07rem;
}

.bottom{
    width:7.5rem;
    height:11.94rem;
    background:#fafafa;
    position:relative;
}
.bottom-inter{
    width:7rem;
    height:3.58rem;
    box-shadow:0 0 0.1rem #eaeaea;
    margin-top:0.21rem;
    margin-left:0.27rem;
    position:absolute;
    background:#fff;
}
.bottom-inter1{
    width:7rem;
    height:0.9rem;
    border-bottom:0.03rem dashed #959595;
    position:relative;
}
.bottom-inter1 img{
    width:0.32rem;
    height:0.32rem;
    margin-left:0.16rem;
    margin-top:0.25rem;
    position:absolute;
    float:left;
}
.bottom-inter1-right{
    float:left;
    width:3rem;
    height:0.45rem;
    margin-top:0.18rem;
    margin-left:0.68rem;
    position:absolute;
}
.bottom-inter1-right p{
    width:3rem;
    height:0.24rem;
    display:block;
}
.bottom-inter1-right span{
    color:#666666;
}

.bottom-inter1-rightwz{
    width:1.7rem;
    height:0.9rem;
    line-height:0.9rem;
    color:#333333;
    margin-left:4.6rem;
}

.bottom-inter2{
    width:7rem;
    height:3.58rem;
    box-shadow:0 0 0.1rem #eaeaea;
    margin-top:4rem;
    margin-left:0.27rem;
    position:absolute;
    background:#fff;
}
.bottom-inter3{
    width:7rem;
    height:0.9rem;
    border-bottom:0.03rem dashed #959595;
    position:relative;
}
.bottom-inter3 img{
    width:0.32rem;
    height:0.32rem;
    margin-left:0.16rem;
    margin-top:0.25rem;
    position:absolute;
    float:left;
}
.bottom-inter3-right{
    float:left;
    width:3rem;
    height:0.45rem;
    margin-top:0.18rem;
    margin-left:0.68rem;
    position:absolute;
}
.bottom-inter3-right p{
    width:3rem;
    height:0.24rem;
    display:block;
}
.bottom-inter3-right span{
    color:#666666;
}
.bottom-anniu{
    width:5.65rem;
    height:0.68rem;
    background:#28dd8b;
    border-radius:0.3rem;
    position:absolute;
    margin-top:10.42rem;
    margin-left:0.94rem;
}
.bottom-anniu1{
    width:0.06rem;
    height:0.06rem;
    background:#fff;
    margin-left:0.34rem;
    margin-top:0.32rem;
    float:left;
}
.bottom-anniu2{
    width:4.84rem;
    height:0.68rem;
    line-height:0.68rem;
    color:#fff;
    float:left;
    text-align:center;
}
.bottom-anniu3{
    width:0.06rem;
    height:0.06rem;
    background:#fff;
    margin-top:0.32rem;
    float:left;
}
@media screen and (min-width:320px){
    html{
        font-size:42.7px;
    }
}
@media screen and (min-width:360px){
    html{
        font-size:48px;
    }
}
@media screen and (min-width:375px){
    html{
        font-size:50px;
    }
}

@media screen and (min-width:412px){
    html{
        font-size:54.9px;
    }
}

@media screen and (min-width:414px){
    html{
        font-size:55.3px;
    }
}
