body,p,pre,ul,li,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,input{
	padding:0;
	margin: 0;
	list-style:none;
	border:none;
}
body{
	font-size:12px;
	font-family:"宋体";
	color:#333;
}
a{
	text-decoration:none;
}
*{
	box-sizing:border-box;
}
img{
	border:none;
	cursor:pointer;
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486706426327'); /* IE9*/
  src: url('iconfont.eot?t=1486706426327#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486706426327') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486706426327') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486706426327#iconfont') format('svg'); /* iOS 4.1- */
}
/*顶部*/
.nav{
	width:100%;
	height:42px;
	background-color:#313131;
	border-top:2px solid #333333;
}
.nav-c{
	width:1000px;
	height:40px;
	margin:0 auto;
	text-align:justify;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	cursor:default;
}
.nav-c:after{
	content:"";
	display:inline-block;
	width:100%;
}
.nav-l{
	height:40px;
	line-height:40px;
	display:inline-block;
}
.nav-l a{
	transition:color 0.5s;
    color:#ffffff;
    font-size:14px;
}
.nav-l a:hover{
	color:#b8b8b8;
}
.show-s{
	display:none;
}
.searchb{
	width:0;height:0;
	top:0;left:50%;
	margin-left:-345px;
	position: relative;
	display:none;
	transition:all 2s;
	z-index:999;
}
.searchbt{
	width:690px;height:42px;
	position:absolute;
	top:-42px;left:0;
	background:#313131;
	font-size:14px;
	cursor:pointer;
}
.searchbt1{
	width:40px;height:42px;
	float:left;
	line-height:42px;
	text-align:center;
	color:#fff;
}
.searchbt2{
	width:610px;height:42px;
	float:left;
	font-weight:bold;
	background:#313131;
	color: #cecece;
}
.searchbt3{
	width:40px;height:42px;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:42px;
	float:left;
}
.searchbb{
	width:690px;height:200px;
	position:relative;
	background:#fff;
	box-shadow:0 0 2px #979797;
}
.searchbb h3{
	width:100px;height:20px;
	color:#6e667d;
	position:absolute;
	top:20px;left:30px;
}
.searchbb2{
	width:670px;height:140px;
	position:absolute;
	top:50px;left:10px;
}
.searchbb2 li{
	width:670px;height:30px;
    line-height:30px;
	color:#333333;
	font-size:14px;
	cursor:pointer;
}
.searchbb2 li:hover{
	background:#F2F2F2;
	color: #0c45cf;
}
@media screen and (max-width:1068px){
    .nav-c{
    	width:100%;
    	padding:0 20px;
    }
}
@media screen and (max-width:735px){
	.hidden-s{
		display:none;
	}
	.show-s{
		display:inline-block;
		transition:color 0.5s;
		color:#ffffff;
		cursor:pointer;
	}
	.show-s:hover{
        color:#b8b8b8;
	}
	.banner-top span{
		margin:40% 50%;
	}
	.banner-top p{
		margin:2% 50%;
	}
}
#iconfont{
	font-family:"iconfont";
}
.banner1{
	width:100%;height: 512px;
	background:#fff;
	position:absolute;
	transition:all 1s ease-in;
}
.banner2{
	width:0;height: 512px;
	background:#F2F2F2;
	position:absolute;
	transition:all 1s ease-in;
}
.banner3{
	width:0;height: 512px;
	background:#0A0A0A;
	position:absolute;
	transition:all 1s ease-in;
}
.bannercon{
	width: 100%;height: 512px;
	position:relative;
}
.bannertop1{
	width:200px;height: 50px;
	margin:0 auto;
	font-size:40px;
}
.bannertop2{
	width:200px;height: 50px;
	margin:0 auto;
	font-size:40px;
}
.bannertop3{
	width:200px;height: 50px;
	margin:0 auto;
	font-size:40px;
	color:#fff;
}
.bannertop{
	display:none;
}
.bannerbox1{
	width: 100%;
	height:432px;
	background: url("../images/banner.jpg") no-repeat center bottom;
	background-size: contain;
	top:30%;
}
.bannerbox2{
	width: 100%;
	height:432px;
	background: url("../images/banner4.jpg") no-repeat center bottom;
	background-size: contain;
	top:30%;
}
.bannerbox3{
	width: 100%;
	height:432px;
	background: url("../images/banner-l.jpg") no-repeat center bottom;
	background-size: contain;
	top:30%;
}
.bannerbtn{
	width:200px;height:6px;
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-100px;
	z-index:999;
	display: flex;
	justify-content: space-between;
}
.xzbtn{
	width:60px;height:6px;
	background:#fff;
	border-radius:3px;
	float:left;
	cursor:pointer;
}
/*banner*/
/*.banner{*/
	/*width:100%;*/
	/*height:497px;*/
	/*margin-bottom:2px;*/
	/*position:relative;*/
/*}*/
/*.banner img{*/
	/*width:100%;*/
	/*height:100%;*/
	/*position:absolute;*/
/*}*/
/*.banner-top{*/
	/*width:100%;*/
	/*height:auto;*/
    /*background:#f29f30;*/
    /*position:absolute;*/
/*}*/
/*.banner-top span{*/
	/*font-size:36px;*/
	/*color:#fff;*/
	/*margin:40% 40%;*/
	/*cursor:pointer;*/
	/*padding-top:25%;	*/
/*}*/
/*.banner-top p{*/
	/*font-size:20px;*/
	/*color:#fff;*/
	/*margin:2% 21%;*/
	/*cursor:pointer;*/
/*}*/
@media screen and (max-width: 1050px) {
    .bannerbox1{
        height:360px;
        top:38%;
        background: url("../images/banner1.jpg") no-repeat center top;
        background-size: auto 100%;
    }
	.bannerbox2{
		height:360px;
		top:38%;
		background: url("../images/banner5.jpg") no-repeat center top;
		background-size: auto 100%;
	}
	.bannerbox3{
		height:360px;
		top:38%;
		background: url("../images/banner-m.jpg") no-repeat center top;
		background-size: auto 100%;
	}
}
@media screen and (max-width: 717px) {
    .bannerbox1{
        height:330px;
        top:40%;
        background: url("../images/banner2.jpg") no-repeat center top;
        background-size: auto 100%;
    }
	.bannerbox2{
		height:330px;
		top:40%;
		background: url("../images/banner6.jpg") no-repeat center top;
		background-size: auto 100%;
	}
	.bannerbox3{
		height:330px;
		top:40%;
		background: url("../images/banner-s.jpg") no-repeat center top;
		background-size: auto 100%;
	}
}
/*中栏*/
.container{
	width:100%;
	height:auto;
	padding:1px;
	margin-bottom:2px;
}
.container .list{
	float:left;
	width:25%;
	height:200px;
	background-position:center;
}
.container .list:nth-child(1){
	border-right:1px solid #fff;
	background-image:url(../images/1.jpg);
}
.container .list:nth-child(2){
	border-right:1px solid #fff;
	background-image:url(../images/2.jpg);
}.container .list:nth-child(3){
	border-right:1px solid #fff;
	background-image:url(../images/3.jpg);
}.container .list:nth-child(4){
	border-right:1px solid #fff;
	background-image:url(../images/4.jpg);
}
@media screen and (max-width:1068px){
	.container .list{
		float:left;
		width:50%;
		height:200px;
		background-position:center;
	}
.container .list:nth-child(1){
	background-image:url(../images/d1.jpg);
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.container .list:nth-child(2){
	background-image:url(../images/d2.jpg);
	border-bottom:1px solid #fff;
}
.container .list:nth-child(3){
	background-image:url(../images/d3.jpg);
	border-right:1px solid #fff;
}
.container .list:nth-child(4){
	background-image:url(../images/d4.jpg);
	border-right:1px solid #fff;
}
}
@media screen and (max-width:736px){

    .banner-top span{
    	font-size:25px;
    }
	.container .list{
float: left;
width: 100%;
height: 200px;
background-position: center;
}
.spzs .list:nth-child(1){
       background-image: url(../images/s1.jpg);
       border-bottom: 1px solid #fff;
}
.spzs .list:nth-child(2){
       background-image: url(../images/s2.jpg);
       border-bottom: 1px solid #fff;
}
.spzs .list:nth-child(3){
       background-image: url(../images/s3.jpg);
       border-bottom: 1px solid #fff;
}
.spzs .list:nth-child(4){
       background-image: url(../images/s4.jpg);
}
}
/*服务*/
.bottom{
	width:100%;
	height:405px;
	background:#f2f2f2;
	float:left;
	margin-top:2px;
}
.double{
	width:980px;
	height:49px;
	margin:0 auto;
	color:#b1b1b1;
	font-size:10px;
	line-height:48px;
	border-bottom:1px solid #e6e6e6;
}
@media screen and (max-width:1068px){
	.double{
		width:100%;
		padding-left:10px;
	}
	.more{
		width:1068px;
	}
}
@media screen and (max-width:735px) {
	.double{
		width:100%;
		padding-left:10px;
	}
}
/*more*/

.more{
	width:980px;
	height:auto;
	margin:0 auto;
}
.more span{
	height:48px;
	color:#b1b1b1;
	line-height:24px;
	font-size:10px;
}
.more a{
	height:48px;
	color:#1082cf;
	line-height:24px;
	font-size:10px;
}
.more a:hover{
    color:#000000;
    text-decoration:underline;
}
.bottom-bottom{
	width:100%;
	height:70px;
	margin:0 auto;
	font-size:10px;
	margin-top:-1px;
}
.bottom-one{
	width:233px;
	height:70px;
	float:left;
	color:#99a3b9;
	line-height:20px;
}
.bottom-one a{
	color:#99a3b9;
}
.bottom-one a:hover{
	text-decoration:underline;
}
.bottom-two{
	height:15px;
	float:left;
}
.bottom-two a{
	width:55px;
	height:15px;
	border-right:1px solid #8f8f87;
	float:left;
	padding-right: 10px;
    color:#6e667d;
    text-align:right;
    line-height:15px;
}
.bottom-two a:hover{
	text-decoration:underline;
}
.bottom-three{
	width:21px;
	height:10px;
	float:right;
}
.bottom-three a{
	color:#8f8f8f;
	font-size:10px;
}
.bottom-three a:hover{
	color:#333333;
	text-decoration:underline;
}
/*底部*/
.footer{
	width:100%;
	height:405px;
	background:#f2f2f2;
}
.footer-container{
    width:980px;
    height:auto;
    margin:0 auto;
}
.footer-cols{
	width:20%;height:260px;
	float:left;
}
@media screen and (max-width:1068px) {
	html{
		width:100%;
	}
     .footer-container{
     	width:100%;
     	padding-left:10px;
     }	
	.more {
		width:100%;
	}
}
@media screen and (max-width:735px){
	html{
		width:100%;
	}
	.footer-cols{
		width:100%;
		height:auto;
	}
	.footer-title{
		padding-left:10px;
	}
	.footer-title span{
       display: block;
       float:right;  
       color:#000;
       padding-right:10px;
	}
	.footer-cols ul{
		height:0;
		overflow:hidden;
	}
	.bottom-two{
		height:auto;
		margin-left:10px;
	}
	.bottom-one{
		height:auto;
		margin-left:10px;
	}
	.bottom-three{
		width:100%;
		height:auto;
		margin-left:10px;
	}
	.more span a{
		width:100%;
		height:auto;
		padding-left:10px;
		display:none;
	}
	.more {
		width:100%;
	}
}
.footer-cols a{
	color:#8f8f8f;
	font-size:10px;
}
.footer-cols a:hover{
	color:#000000;
    text-decoration:underline;
}
.footer-title{
	height:48px;
	color:#b1b1b1;
	line-height:48px;
}
.footer-container:after{
	content:"";
	display:block;
	clear:both;
}
.gj{
	display:block;
	width:40px;
	height:16px;
	margin-left:20px;
}
.gj1{
	width:16px;
	height:16px;
	float:left;
	background:url(../images/gj.png) no-repeat 0 0;
}
.gj2{
	width:20px;
	height:14px;
	color:#555;
	float:right;
	line-height:14px;
}